/**
!/.gitignore
!README.md
!cava/
!cava/**
cava/shaders/
!hypr/
!hyper/**
!dunst/
!dunst/**
!halloy/
!halloy/**
!hypr/
!hypr/**
!nvim/
!nvim/**
nvim/plugin/*_compiled.lua
!systemd/
!systemd/**
!tidal/
!tidal/**
!tofi/
!tofi/**
!waybar/
!waybar/**
!wezterm/
!wezterm/**
!zed/
!zed/**
zed/.*

