/**
!/.gitignore
!/.gitattributes
!README.md
!cava/
!cava/**
cava/shaders/
!hypr/
!hyper/**
!dunst/
!dunst/**
!hypr/
!hypr/**
!nvim/
!nvim/**
nvim/plugin/*_compiled.lua
!ranger/
!ranger/rc.conf
!systemd/
!systemd/**
systemd/user/timers.target.wants
systemd/user/graphical-session.target.wants
!tidal/
!tidal/**
!tofi/
!tofi/**
!waybar/
!waybar/**
!wezterm/
!wezterm/**
!zed/
!zed/**
zed/.*
